.bannerkoffie{
    height: 950px;
    background-image: url(images/bannerkoffie.jpg);
    background-attachment: fixed;
    object-fit: cover;

}

.fotokoffie{
    height: 950px;
    background-image: url(images/LOGONUMMER11.jpg);
    background-attachment: fixed;
    object-fit: cover;

}